<template name="attorneyDashboard">
    <!--  <head>
        <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {

    text-align: center;
    padding: 8px;
}
</style>
    </head>
 <body>
<table>
    <tr>
        <th>Employer</th>
        <th>Company Name</th>
    </tr>
    <tr>
        <td>John</td>
        <td>Tech Sync</td>
    </tr>
     <tr>
        <td>Karthik</td>
        <td>Atria It</td>
    </tr>
</table>
</body>  -->
    <div class="container">
        <div class="col-md-6">

            Employers List:
        </div>


        <div class="col-md-6">
            <div class="text-right">
                <button class="btn btn-default btn-sm" id="newcandidate"> Create Employer</button>
            </div>
        </div>
    </div>
</template>
