<template name="createCandidateFromAttorney">
  <div class="content animate-panel">
      <div class="hpanel">
          <div class="panel-body">
              <h2 class="font-light m-b-xs">
                      Create New Candidate
                  </h2>
              <small>Create new Candidate by sending invitation</small>
              <br/>
              <br/>
              <form id="contactform" role="form">

                  <div class="row">
                    <div class="form-group col-lg-12">
                      <label>Company Name</label>
                      {{> inputAutocomplete settings=companySettings id="employerID" autocomplete="off" class="form-control"
                  name="employerID" placeholder="Search for Company"}}
                      <div class="has-error-text error-text"></div>
                    </div>
                     
                      <div class="col-sm-12 input">
                        <label class="" for="name"> <span class="" data-content="Name">Name*</span> </label>
                          <input type="text " class="input_field" name="name" id="name" required="">
                      </div>

                  </div>
                  <div class="row">
                      <div class="col-sm-12 input">
                        <label class="" for="email"> <span class="" data-content="Email ID*">Email ID*</span> </label>
                          <input type="email" class="input_field" name="email" id="email" required="">
                      </div>
                      <div class="col-sm-12 input">
                        <label class="" for="comments"> <span class="" data-content="Comments">Comments</span> </label>
                          <input type="text" class="input_field" name="comments" id="comments" required>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-12 input">
                        <label class="" for="visaType"> <span class="" data-content="Visa Type*">Visa Type*</span> </label>
                            <select class="form-control select2" name="visaType" required>
                                {{#each visaType}}
                                <option value="{{this.key}} ">{{this.value}}</option>
                                {{/each}}
                               
                            </select>
                      </div>
                      <div class="col-sm-12 input">
                        <label class="" for="processStatus"> <span class="" data-content="process Status">Process Status</span> </label>
                         <select class="form-control select2" name="processStatus" required>
                               {{#each processType}}
                                <option value="{{this.key}} ">{{this.value}}</option>
                                {{/each}}
                            </select>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-12 input">
                        <label class="" for="DOB"> <span class="" data-content="DOB*">Date of birth*</span> </label>
                            <input id="dob" name="dob" type="text" placeholder="MM/DD/YYYY" class="input_field datepicker validationRequired" data-date-end-date="0d">
                      </div>
                      <div class="col-sm-12 input">
                        <label class="" for="phone"> <span class="" data-content="Phone No.">Phone No.</span> </label>
                          <input type="text" class="input_field validationNumber" name="phone"  data-parsley-pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" Required>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12 input">
                        <label class="" for="location"> <span class="" data-content="LocationDOB*">Location*</span> </label>
                            <input type="text" class="input_field" name="location" id="location" required="">
                      </div>
                     
                  </div>

                  <div class="row">
                      <div class="col-sm-12">
                          <input class="button" type="submit" value="Send Invitation" name="contact-submit">
                      </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
  {{loadFormValidationMessage}}
</template>

<template name="searchEmployerAutoSuggestion">
  <span class="{{_id}}">  {{profile.name}}</span>
</template>
