<template name="CandAddresses">
  {{> commentsread keyField="candidateAddresses" approvalData=approvalData}}

    <div class="content animate-panel">

            <div class="hpanel">
                <div class="panel-body">
                    <h2 class="font-light m-b-xs">
                        Candidate Addresses
                    </h2>
                    <small>Please, enter all fields</small>
                    <br/>
                    <br/>
                    <fieldset class="form2">
                    <form id="candidateaddressesform">

                      <h3 class="font-light m-b-xs">
                            Mailing Address
                        </h3>

                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="careof"> <span class="" data-content="Care of*">Care of*</span> </label>
                                <input type="text" class="input_field" name="mailing_careof" value="{{candidateAddressesData.mailing_careof}}" id="careof" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="street"> <span class="" data-content="Street*">Street*</span> </label>
                                <input type="text" class="input_field" name="mailing_street" value="{{candidateAddressesData.mailing_street}}" id="street" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="unit"> <span class="" data-content="Unit*">Unit*</span> </label>
                                <input type="text" class="input_field" name="mailing_unit" value="{{candidateAddressesData.mailing_unit}}" id="unit" data-parsley-pattern="^[ A-Za-z0-9_@./#&+-]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="city"> <span class="" data-content="City*">City*</span> </label>
                                <input type="text" class="input_field" name="mailing_city" value="{{candidateAddressesData.mailing_city}}" id="city" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="state"> <span class="" data-content="State*">State*</span> </label>
                                <input type="text" class="input_field" name="mailing_state" value="{{candidateAddressesData.mailing_state}}" id="state" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="zipcode"> <span class="" data-content="Zip Code*">Zip Code*</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{candidateAddressesData.mailing_zipCode}}" name="mailing_zipCode" id="zipCode" data-parsley-patern="^\d{5}(?:[-\s]\d{4})?$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="country"> <span class="" data-content="Country*">Country*</span> </label>
                                <!-- <input type="text" class="input_field" name="mailing_country" value="{{candidateAddressesData.country}}" id="country" Required> -->
                                <select class="input_field" name="mailing_country">
                                  {{#each countries}}
                                  <option value="{{name}}" {{optionIsSelected ../candidateAddressesData.mailing_country name}}>{{name}}</option>
                                  {{/each}}
                                </select>
                            </div>
                        </div>

                       <h3 class="font-light m-b-xs">
                            US Residence Address
                        </h3>

                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="careof"> <span class="" data-content="Care of*">Care of*</span> </label>
                                <input type="text" class="input_field" name="us_careof" value="{{candidateAddressesData.us_careof}}" id="careof" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="street"> <span class="" data-content="Street*">Street*</span> </label>
                                <input type="text" class="input_field" name="us_street" value="{{candidateAddressesData.us_street}}" id="street" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="unit"> <span class="" data-content="Unit*">Unit*</span> </label>
                                <input type="text" class="input_field" name="us_unit" value="{{candidateAddressesData.us_unit}}" id="unit" data-parsley-pattern="^[ A-Za-z0-9_@./#&+-]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="city"> <span class="" data-content="City*">City*</span> </label>
                                <input type="text" class="input_field" name="us_city" value="{{candidateAddressesData.us_city}}" id="city" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="state"> <span class="" data-content="State*">State*</span> </label>
                                <input type="text" class="input_field" name="us_state" value="{{candidateAddressesData.us_state}}" id="state" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="zipcode"> <span class="" data-content="Zip Code*">Zip Code*</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{candidateAddressesData.us_zipCode}}" name="us_zipCode" id="zipCode" data-parsley-patern="^\d{5}(?:[-\s]\d{4})?$" Required>
                            </div>
                        </div>

                         <h3 class="font-light m-b-xs">
                            Abroad Residence Address
                        </h3>

                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="careof"> <span class="" data-content="Care of*">Care of*</span> </label>
                                <input type="text" class="input_field" name="abroad_careof" value="{{candidateAddressesData.abroad_careof}}" id="careof" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="street"> <span class="" data-content="Street*">Street*</span> </label>
                                <input type="text" class="input_field" name="abroad_street" value="{{candidateAddressesData.abroad_street}}" id="street" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="unit"> <span class="" data-content="Unit*">Unit*</span> </label>
                                <input type="text" class="input_field" name="abroad_unit" value="{{candidateAddressesData.abroad_unit}}" id="unit" data-parsley-pattern="^[ A-Za-z0-9_@./#&+-]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="city"> <span class="" data-content="City*">City*</span> </label>
                                <input type="text" class="input_field" name="abroad_city" value="{{candidateAddressesData.abroad_city}}" id="city" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="state"> <span class="" data-content="State*">State*</span> </label>
                                <input type="text" class="input_field" name="abroad_state" value="{{candidateAddressesData.abroad_state}}" id="state" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="zipcode"> <span class="" data-content="Zip Code*">Zip Code*</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{candidateAddressesData.abroad_zipCode}}" name="abroad_zipCode" id="zipCode" data-parsley-patern="^\d{5}(?:[-\s]\d{4})?$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="country"> <span class="" data-content="Country*">Country*</span> </label>
                                <!-- <input type="text" class="input_field" name="abroad_country" value="{{candidateAddressesData.country}}" id="country" Required> -->
                                <select class="input_field" name="abroad_country">
                                  {{#each countries}}
                                  <option value="{{name}}" {{optionIsSelected ../candidateAddressesData.abroad_country name}}>{{name}}</option>
                                  {{/each}}
                                </select>
                            </div>
                        </div>

                        <h3 class="font-light m-b-xs">
                            Consulate Address
                        </h3>

                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="careof"> <span class="" data-content="Care of*">Care of*</span> </label>
                                <input type="text" class="input_field" name="consulate_careof" value="{{candidateAddressesData.consulate_careof}}" id="careof" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="street"> <span class="" data-content="Street*">Street*</span> </label>
                                <input type="text" class="input_field" name="consulate_street" value="{{candidateAddressesData.consulate_street}}" id="street" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="unit"> <span class="" data-content="Unit*">Unit*</span> </label>
                                <input type="text" class="input_field" name="consulate_unit" value="{{candidateAddressesData.consulate_unit}}" id="unit" data-parsley-pattern="^[ A-Za-z0-9_@./#&+-]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="city"> <span class="" data-content="City*">City*</span> </label>
                                <input type="text" class="input_field" name="consulate_city" value="{{candidateAddressesData.consulate_city}}" id="city" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="state"> <span class="" data-content="State*">State*</span> </label>
                                <input type="text" class="input_field" name="consulate_state" value="{{candidateAddressesData.consulate_state}}" id="state" data-parsley-pattern="[a-zA-Z ]*$" Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="zipcode"> <span class="" data-content="Zip Code*">Zip Code*</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{candidateAddressesData.consulate_zipCode}}" name="consulate_zipCode" id="zipCode" data-parsley-patern="^\d{5}(?:[-\s]\d{4})?$"  Required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="country"> <span class="" data-content="Country*">Country*</span> </label>
                                <!-- <input type="text" class="input_field" name="consulate_country" value="{{candidateAddressesData.country}}" id="country" Required> -->
                                <select class="input_field" name="consulate_country">
                                  {{#each countries}}
                                  <option value="{{name}}" {{optionIsSelected ../candidateAddressesData.consulate_country name}}>{{name}}</option>
                                  {{/each}}
                                </select>
                            </div>
                        </div>
                        {{#if isCandidate}}
                        <div class="row">
                            <div class="col-sm-12">
                                <input class="button" type="submit" value="SUBMIT" name="contact-submit">
                            </div>
                        </div>
                        {{/if}}

</form>
</fieldset>
            </div>

                </div>
{{loadFormValidationMessage}}


                </div>
{{> comments keyField="candidateAddresses"}}

</template>
