<template name="cand_veri_ltrs">
    
        <div class="content animate-panel">

            <div class="hpanel">
                <div class="panel-body">
                    <h2 class="font-light m-b-xs">
                        Candidate Information
                    </h2>
                    <small>Please, enter all fields</small>
                    
                   
                    <div class="row">
                        
                            <div class="col-sm-12 input">
                    </div>
                    </div>
                     <div class="row">
                            <div class="col-sm-12">
                                <input class="button" type="submit" value="SUBMIT" name="contact-submit">
                            </div>
                        </div>
              
            </div>
                </div>
                </div>

</template>