<template name="RelativesInfo">
  {{> commentsread keyField="relativesInfo" approvalData=approvalData}}

        <div class="content animate-panel">

            <div class="hpanel">

                <div class="panel-body">
                    <h2 class="font-light m-b-xs">
                        Relatives Information
                    </h2>
                    <small>Please, enter all fields</small>
                    <fieldset class="form1">
                    <form id="relativesinfoform">
                        <h4 class="font-light m-b-xs">
                            Relationship to you.
                        </h4>

                        <div class="row">
                            <div class="message-contactform col-md-12"></div>
                            <div class="col-sm-2 input">
                              <label class="" for="contact-name"> <span class="" data-content="Title*">Title*</span> </label>
                                <select class="input_field" name="title">
                                    <option value="mr" {{optionIsSelected candidateData.title "mr"}}>Mr.</option>
                                    <option value="ms" {{optionIsSelected candidateData.title "ms"}}>Ms.</option>
                                </select>
                            </div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="First Name*">First Name*</span> </label>
                                <input type="text" class="input_field" name="firstName" value="{{relativesInfoData.firstName}}" id="contact-name" data-parsley-pattern="^[a-zA-Z]+$" Required>
                            </div>
                            <div class="col-sm-2 input">
                              <label class="" for="contact-name"> <span class="" data-content="Middle Name">Middle Name</span> </label>
                                <input type="text" class="input_field" name="middleName" value="{{relativesInfoData.middleName}}" id="contact-name" data-parsley-pattern="^[a-zA-Z]+$">
                            </div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="Last Name *">Last Name*</span> </label>
                                <input type="text" class="input_field" name="lastName" value="{{relativesInfoData.lastName}}" id="contact-name" data-parsley-pattern="^[a-zA-Z]+$" Required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="message-contactform col-md-12"></div>
                            <div class="col-sm-6 input">
                              <label class="" for="contact-name"> <span class="" data-parsley-pattern="^[a-zA-Z]+$" data-content="Maiden Name">Maiden Name</span> </label>
                                <input type="text" class="input_field" name="maidenName" value="{{relativesInfoData.maidenName}}" id="contact-name">
                            </div>
                            <div class="col-sm-6 input">
                              <label class="" for="contact-name"> <span class="" data-content="Other Name(s)">Other Name(s)</span> </label>
                                <input type="text" class="input_field" name="otherName" value="{{relativesInfoData.otherName}}" id="contact-name" data-parsley-pattern="^[a-zA-Z]+$">
                            </div>
                        </div>
                        <div class="row">
                            <div class="message-contactform col-md-12"></div>
                            <div class="col-sm-6 input">
                              <label class="" for="contact-name"> <span class="" data-content="Marital Status*">Marital Status*</span> </label>
                                <select class="input_field" name="maritalStatus">
                                    <option value="single" {{optionIsSelected candidateData.maritalStatus "single"}}>Single</option>
                                    <option value="married" {{optionIsSelected candidateData.maritalStatus "married"}}>Married</option>
                                     <option value="divorced" {{optionIsSelected candidateData.maritalStatus "divorced"}}>Divorced</option>
                                  <option value="widow" {{optionIsSelected candidateData.maritalStatus "widow"}}>Widow</option>
                                  <option value="separated" {{optionIsSelected candidateData.maritalStatus "separated"}}>Separated</option>
                                    <option value="partner" {{optionIsSelected candidateData.maritalStatus "partner"}}>Partner</option>

                                </select>
                            </div>
                            <div class="col-sm-6 input">
                              <label class="" for="contact-name"> <span class="" data-content="Gender*">Gender*</span> </label>
                                <select class="input_field" name="gender">
                                  <option value="male" {{optionIsSelected candidateData.gender "male"}}>Male</option>
                                  <option value="female" {{optionIsSelected candidateData.gender "female"}}>Female</option>
                                 </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="contact-name"> <span class="" data-content="Date of Birth">Date of Birth*</span> </label>
                              {{#if relativesInfoData.dateOfBirth}}
                              <input  name="dateOfBirth" type="text" value="{{formatDate relativesInfoData.dateOfBirth 'MM/DD/YYYY'}}" class="datepicker input_field validationRequired" data-date-end-date="0d">
                              {{else}}
                              <input  name="dateOfBirth" type="text"  placeholder="MM/DD/YYYY" class="datepicker input_field validationRequired" data-date-end-date="0d">
                              {{/if}}
                                <!-- <input type="text" class="input_field" name="contact_name6" id="contact-name" required=""> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input"></div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="City of Birth*">City of Birth*</span> </label>
                                <input type="text" class="input_field" name="cityOfBirth" value="{{relativesInfoData.cityOfBirth}}" id="contact-name" data-parsley-pattern="^[a-zA-Z]+$" Required>
                            </div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="State of Birth*">State of Birth*</span> </label>
                                <input type="text" class="input_field" name="stateOfBirth" value="{{relativesInfoData.stateOfBirth}}" id="contact-name" data-parsley-pattern="^[a-zA-Z]+$" Required>
                            </div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="Country of Birth*">Country of Birth*</span> </label>
                                <select class="input_field" name="countryOfBirth">
                                  {{#each countries}}
                                  <option value="{{name}}" {{optionIsSelected ../relativesInfoData.countryOfBirth name}}>{{name}}</option>
                                  {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input"></div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="Cell Phone*">Cell Phone*</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{relativesInfoData.cellPhone}}" name="cellPhone" id="contact-name"  data-parsley-pattern="[7-9]{1}[0-9]{9}" Required>
                            </div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="Day Phone">Day Phone</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{relativesInfoData.dayPhone}}" name="dayPhone" id="contact-name" data-parsley-pattern="[7-9]{1}[0-9]{9}">
                            </div>
                            <div class="col-sm-4 input">
                              <label class="" for="contact-name"> <span class="" data-content="Evening Phone">Evening Phone</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{relativesInfoData.eveningPhone}}" name="eveningPhone" id="contact-name" data-parsley-pattern="[7-9]{1}[0-9]{9}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 input">
                              <label class="" for="fax"> <span class="" data-content="Fax*">Fax*</span> </label>
                                <input type="text" class="input_field validationNumber" value="{{relativesInfoData.fax}}" name="fax" id="fax" data-parsley-pattern="/[\+? *[1-9]+]?[0-9 ]+/" Required>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-email"> <span class="" data-content="Email*">Email *</span> </label>
                        <input type="email" class="input_field" value="{{relativesInfoData.email}}" name="email" id="contact-email" Required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-ssn"> <span class="" data-content="Social Security Number">Social Security Number</span> </label>
                        <input type="text" class="input_field" value="{{relativesInfoData.socialSecurityNumber}}" name="socialSecurityNumber" id="contact-ssn" data-parsley-pattern="^(?!(000|666|9))\d{3}-(?!00)\d{2}-(?!0000)\d{4}$">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-nationality"> <span class="" data-content="Country of Nationality*">Country of Nationality*</span> </label>
                        <!-- <input type="text" class="input_field" name="countryOfNationality" value="{{relativesInfoData.countryOfNationality}}" id="contact-nationality" data-parsley-pattern="^[a-zA-Z]+$" Required> -->
                        <select class="input_field" name="countryOfNationality">
                          {{#each countries}}
                          <option value="{{name}}" {{optionIsSelected ../relativesInfoData.countryOfNationality name}}>{{name}}</option>
                          {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-alien"> <span class="" data-content="Alien Number">Alien Number</span> </label>
                        <input type="text" class="input_field" name="alienNumber" value="{{relativesInfoData.alienNumber}}" id="contact-alien" data-parsley-pattern="^[0-9a-zA-Z]+$">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-passport"> <span class="" data-content="Passport Number*">Passport Number*</span> </label>
                        <input type="text" class="input_field" name="passportNumber" value="{{relativesInfoData.passportNumber}}" id="contact-passport" data-parsley-pattern="^[A-PR-WYa-pr-wy][1-9]\d\s?\d{4}[1-9]$" Required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-passissue"> <span class="" data-content="Passport Issuing Country*">Passport Issuing Country*</span> </label>
                        <!-- <input type="text" class="input_field" name="passportIssueingCountry"  value="{{relativesInfoData.passportIssueingCountry}}" id="contact-passissue" data-parsley-pattern="^[a-zA-Z]+$" Required> -->
                        <select class="input_field" name="passportIssueingCountry">
                          {{#each countries}}
                          <option value="{{name}}" {{optionIsSelected ../relativesInfoData.passportIssueingCountry name}}>{{name}}</option>
                          {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-passissuedate"> <span class="" data-content="Passport Issued Date*">Passport Issued Date*</span> </label>
                      {{#if relativesInfoData.passportIssuedDate}}
                      <input  name="passportIssuedDate" type="text" value="{{formatDate relativesInfoData.passportIssuedDate 'MM/DD/YYYY'}}" class="datepicker input_field validationRequired" data-date-end-date="0d">
                      {{else}}
                      <input  name="passportIssuedDate" type="text"  placeholder="MM/DD/YYYY" class="datepicker input_field validationRequired" data-date-end-date="0d">
                      {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-passvaliddate"> <span class="" data-content="Passport Valid Until - Date your Passport Expire*">Passport Valid Until - Date your Passport Expire*</span> </label>
                      {{#if relativesInfoData.passportExpireDate}}
                      <input  name="passportExpireDate" type="text" value="{{formatDate relativesInfoData.passportExpireDate 'MM/DD/YYYY'}}" class="datepicker input_field validationRequired" data-date-end-date="0d">
                      {{else}}
                      <input  name="passportExpireDate" type="text"  placeholder="MM/DD/YYYY" class="datepicker input_field validationRequired" data-date-end-date="0d">
                      {{/if}}
                        <!-- <input type="text" class="input_field" name="passportExpireDate" id="contact-passvaliddate" required=""> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-enterusdate"> <span class="" data-content="Arrival Date - Last Entry Date into US">Arrival Date - Last Entry Date into US</span> </label>
                      {{#if relativesInfoData.arrivalDateLastEntryDateInUS}}
                      <input  name="arrivalDateLastEntryDateInUS" type="text" value="{{formatDate relativesInfoData.arrivalDateLastEntryDateInUS 'MM/DD/YYYY'}}" class="datepicker input_field validationRequired" data-date-end-date="0d">
                      {{else}}
                      <input  name="arrivalDateLastEntryDateInUS" type="text"  placeholder="MM/DD/YYYY" class="datepicker input_field validationRequired" data-date-end-date="0d">
                      {{/if}}
                        <!-- <input type="text" class="input_field" name="arrivalDateLastEntryDateInUS" id="contact-enterusdate" required=""> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-poec"> <span class="" data-content="Arrival City - Port of Entry">Arrival City - Port of Entry</span> </label>
                        <input type="text" class="input_field" name="arrivalCityPortOfEntry" value="{{relativesInfoData.arrivalCityPortOfEntry}}" id="contact-poec" data-parsley-pattern="^[a-zA-Z]+$">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-poes"> <span class="" data-content="Arrival State - Port of Entry*">Arrival State - Port of Entry</span> </label>
                        <input type="text" class="input_field" name="arrivalStatePortOfEntry" value="{{relativesInfoData.arrivalStatePortOfEntry}}" id="contact-poes" data-parsley-pattern="^[a-zA-Z]+$">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-degree"> <span class="" data-content="Degree - Highest Education*">Highest Education - Degree (HS, BS, B.Tech, MS, PhD)*</span> </label>
                        <input type="text" class="input_field" name="higestEducation" value="{{relativesInfoData.higestEducation}}" id="contact-degree" Required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-major"> <span class="" data-content="Degree - Major*">Degree Major - Field of Study*</span> </label>
                        <input type="text" class="input_field" name="fieldOfStudy" value="{{relativesInfoData.fieldOfStudy}}" id="contact-major" Required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 input">
                      <label class="" for="contact-comments"> <span class="" data-content="Notes or Comments">Notes or Comments</span> </label>
                        <input class="input_field" name="notes" type="text" value="{{relativesInfoData.notes}}" id="contact-comments">
                    </div>
                </div>
{{#if isCandidate}}
                <div class="row">
                    <div class="col-sm-12">
                        <input class="button" type="submit" value="SUBMIT" name="contact-submit">
                    </div>
                </div>
{{/if}}
                </form>
                </fieldset>
{{loadFormValidationMessage}}


            </div>
                </div>
                </div>
                {{> comments keyField="relativesInfo"}}

</template>
