<template name="spousePaystubs">

   <style>
            table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid 	#FFFFFF;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
        </style>
{{> commentsread keyField="h4_h1_cos_Spouse_payStubs" approvalData=approvalData}}
    <div class="normalheader transition">
                  <div class="hpanel">
                <div class="panel-body">
                    <h2 class="font-light m-b-xs">
                       	H4 to H1, COS - Spouse - Pay stubs (if applicable)
                    </h2>
                    {{#if currentUserRole 'candidate'}}
                    <input class="your-upload-class" type="file">
                    {{/if}}
  </div>
  </div>
  </div>

  <div class="content animate-panel">

            <div class="hpanel">
                <div class="panel-body">
   <table border="1">
    <tbody>
      {{#if currentUserRole 'candidate'}}
      {{#each theFiles}}
      <tr>
        <td>{{original.name}}</td>
        <td><a href="{{url}}" target="_blank" download><i class="fa fa-download" aria-hidden="true"></i></a></td>
        <td><button id="deleteFileButton">X</button></td>
      </tr>
      {{/each}}
      {{else}}
      {{#each theFiles}}
      <tr>
        <td>{{original.name}}</td>
        <td><a href="{{url}}" target="_blank" download><i class="fa fa-download" aria-hidden="true"></i></a></td>
        <!-- <td><button id="deleteFileButton">X</button></td> -->
      </tr>
      {{/each}}
      {{/if}}
    </tbody>
  </table>
  </div>
  </div>
  </div>
   {{> comments keyField="h4_h1_cos_Spouse_payStubs"}}
</template>
