<template name="inviteaccept">

 <div class="login-container">
   <div class="row">
       <div class="col-md-12">

           <div class="hpanel">
               <div class="text-center">
               <img src="/images/ixpress-logo.png" alt="ixpress">
             </div>
               <div class="panel-body">
                      <h2>  You are linked with invited user..</h2>
               </div>
               <div class="panel-body">
                     <a href="{{pathFor route='login'}}"> <span class="nav-label">Login</span>  </a>
               </div>

           </div>
       </div>
   </div>

</div>
</template>
